<nav class="navbar h-25 navbar-expand navbar-dark bg-dark">
  <div class="container">
    <a href="#" class="logo flex items-center space-x-3 rtl:space-x-reverse">
      <img src="./assets/logo.png" class="h-25 w-25" alt="Logo" />
  </a>
    <!-- <a class="navbar-brand" href="#"><img src="/assets/logo.png" alt="logo"></a> -->

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>